<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openSource</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub.png</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter @aliencillo</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDonate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate (thanks!)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to Apply Changes</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>pro.aliencillo.newgridswitcherbigprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>SwitcherType</string>
			<key>label</key>
			<string>Type</string>
			<key>default</key>
			<integer>1</integer>
			<key>validTitles</key>
			<array>
			<string>Deck ( default )</string>
			<string>Grid</string>
			<string>Grid Bigger</string>
			<string>Grid More Bigger</string>
			<string>Grid 4x4</string>
			
			</array>
			<key>validValues</key>
			<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>pro.aliencillo.newgridswitcherbigprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>titleAndIconOpacityForIndex</string>
			<key>label</key>
			<string>Hide icons/tittles</string>
			<key>default</key>
			<integer>1</integer>
			<key>validTitles</key>
			<array>
			<string>No</string>
			<string>Yes</string>
			</array>
			<key>validValues</key>
			<array>
			<string>1</string>
			<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Developed with beer by aliencillo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Some code from iknotum flex patches and Relative</string>
		</dict>
	</array>
	<key>title</key>
	<string>NewGridSwitcherBig</string>
</dict>
</plist>
